*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    font-size: 62.5%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: antiquewhite;
    font-size: 2.5rem;
}

header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#vencedor{
    height: 2em;
    line-height: 2em;
    font-size: 3rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    border-radius: .5rem;
    padding: 1em;
    background-color: #baa9a8;
    width: 30rem;
    height: 30rem;
}

.reset{
    padding: .8rem 1rem;
    border-radius: 1rem;
    border: .1rem solid #9b9797;
    background-color: #beb8b8;
}

.casa{
    border: solid .1rem rgba(0,0,0,.2);
    font-size: 2rem;
    font-weight: bold;
}
